{% extends 'citizen_list/base.html' %}

{% block title %} Резюме {% endblock %}

{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'citizen_list/css/title.css' %}">
{% endblock %}

{% block content %}
    {% include './navbar.html' %}
    <h2>Образование</h2>
    <h3><B>Уфимский государственный авиационный технический университет</B> (с 2006 по 2011 гг.)</h3>
    <h2>Опыт работы</h2>
    <TABLE>
        <TR>
            <TD width="150">
                <h3>Март 2020 - Январь 2022</h3>
            </TD>
            <TD width="740">
                <h3><u>Онлайн Школа программирования KodLand</u><br>
                Преподаватель<br>
                Проведения онлай занятий по изучению языка программирвоания Python<br>
                </h3>
            </TD>
        </TR>
        <TR>
            <TD width="150">
                <h3>Сентябрь 2014 - Март 2020</h3>
            </TD>
            <TD width="740">
                <h3><u>Башкирский межотраслевой институт охраны труда, экологии и базопасности на производстве</u><br>
                Преподаватель<br>
                Проведения лекционных занятий<br>
                </h3>
            </TD>
        </TR>
        <TR>
            <TD width="150">
                <h3>Сентябрь 2013 - Август 2014</h3>
            </TD>
            <TD width="740">
                <h3><u>Уфимский государственный авиационный технический университет</u><br>
                Старший преподаватель<br>
                Проведения лекционных, практических и лабораторных занятий для студентов<br>
                </h3>
            </TD>
        </TR>
        <TR>
            <TD width="150">
                <h3>Март 2012 - Августь 2013</h3>
            </TD>
            <TD width="740">
                <h3><u>ОАО СО ЕЭС "Башкирское РДУ"</u><br>
                Специалист I категории<br>
                Расчет и подготовка электрических режимов энергосистемы республики, подготовка проектной документации,
                связь с участниками электроснабжения республики с целью обеспечения электропередачи<br>
                </h3>
            </TD>
        </TR>
        <TR>
            <TD width="150">
                <h3>Май 2011 - Март 2012</h3>
            </TD>
            <TD width="740">
                <h3><u>ООО "Центр Энергоэффективных технологий"</u><br>
                Главный инженер<br>
                Проведение и подготовка отчета по энергоаудиту промышленных предприятий<br>
                </h3>
            </TD>
        </TR>
    </TABLE>
    {% include './navbar.html' %}
{% endblock %}